@import "../../index";

/*****
This modal is easy to custom, according more freedom to the designers and the developers
*****/

.create-employee-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-height: calc(100dvh - 193px);
    padding-bottom: 20px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 200px;

        select {
            width: 100%;
        }

        label {
            display: block;
        }
        
        .address {
            text-align: start;
            width: 100%;      
        }
    }
}