.table_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    gap: 30px;

    .entries-and-search {
        display: flex;
        justify-content: space-between;
    }

    .info-and-pagination {
        display: flex;
        justify-content: space-between;
    }

    .row {
        height: 35px;
    }

    .button-delete {
        align-items: center;
        height: 15px;
        width: 60px;
    }
}