/**** Bases ****/

* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
body {
    width: 100%;
    min-height: 100dvh;
    text-align: center;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin: 0;
}

/***** Variables *****/

$primary-color: #92AC20;
$secondary-color: #596E0D;
$tertiary-color: #6D8416;
$dark-color: #12002b;
$light-color: white;
$link-color: #23290c;
$link-active-color: #42b983;
$modal-color: #92AC203B;

/***** Button *****/

.button {  
  display: flex;
  justify-content: center;
  width: 115px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  color: $light-color;
  background-color: $primary-color;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
  }
}

/***** Breakpoints for responsive design *****/
@mixin media-phone {
  @media screen and (max-width: 720px) {
      @content;
  }
}