@import "../index";

.width-margin {
    max-width: 1440px;
    margin: 0 auto;
    min-height: calc(100dvh - 209px);
} 

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    & main {
        min-height: max(100dvh - 422px, 400px);
    }   
}


  
  